<html>
<style>
  .navs{
    background-color: #e1e1e1;
    display: table;
    padding: 5px;
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .navs li{
  float:left;
  padding-left : 10px

  }
</style>
<body>
<ul class="navs">
  <li><a target="_blank" href="http://localhost:8000/chain">Blocks <span class="badge badge-light">{{blocks|length}}</span></a></li>
  <li><a target="_blank" href="http://localhost:8000/peers">Peers</a></li>
  {{ title }}
</ul>

<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }} </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
{% block content %}{% endblock %}
</div>

</body>
<head>
    <title>{{ title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>
